.row {
    display: grid;
    grid-template-columns: 172px 131px 156px 207px 141px 80px;
    grid-template-columns: repeat(5, minmax(80px, 1fr)) 80px;
    grid-template-rows: 68px;
    grid-auto-rows: 68px;
    align-items: center;
    border-bottom: 1px solid #EEE;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #292D32;
    &__headers {
        margin-top: 25px;
        color: $grey-color;
    }
    &__status{
        width: 80px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        &_active {
            padding: 4px 18px;
            color: $green-color;
            background-color: $light-green-color;
            border: 1px solid $green-color;
        }
        &_inactive {
            padding: 4px 12px;
            color: $red-color;
            background-color: $light-red-color;
            border: 1px solid $red-color;
        }
    }
}
@media (max-width: 1400px) {
    .row {
        grid-template-columns: repeat(3, minmax(80px, 1fr)) 175px minmax(80px, 1fr) 80px;
        column-gap: 10px;
    }
}
@media (max-width: 1199) {
    .row {
        grid-template-columns: repeat(3, minmax(80px, 1fr)) 175px minmax(80px, 1fr) 80px;
        column-gap: 10px;
    }
}
@media (max-width: 767px) {
    .row {
        grid-template-columns: minmax(190px, 1fr) repeat(2, minmax(100px, 1fr));
        grid-template-rows: 45px;
        grid-auto-rows: 45px;
    }
}