.table {
    padding: 30px 44px 40px 38px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    max-width: 968px;
    min-height: 812px;
    margin: 0 auto;
    &_mt51 {
        margin-top: 51px;
    }
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &-title h1{
            font-weight: 600;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 7px;
            color: #000000;
        }
        &-title div {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #16C098;
        }
        &-search {
            width: 216px;
            height: 38px;
            position: relative;
            input {
                border: none;
                height: 100%;
                width: 100%;
                background: $background-color;
                border-radius: 10px;
                padding-left: 40px;
                font-weight: 400;
                font-family: 'Poppins';
                font-size: 12px;
                line-height: 24px;
                color: #B5B7C0;
            }
            &:before {
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%237E7E7E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%237E7E7E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center center no-repeat;
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                left: 8px;
                transform: translateY(-50%);
            } 
        }
    }
    &__footer {
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        &-pages {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
    }
}
@media (max-width: 1400px) {
    .table {
        padding: 30px 25px 40px 25px;
    }
}

@media (max-width: 991px) {
    .table_mt51 {
        margin-top: 11px;
    }
}
@media (max-width: 575px) {
    .table__footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-pages {
            margin-bottom: 15px;
        }
    }
}